# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
org/out/09102989061-1.json
org/out/09102989061-1.xlsx
org/out/09102989061-1.xml
org/out/09102989061-2.json
org/out/09102989061-2.xlsx
org/out/09102989061-2.xml
org/out/09102989061-3.json
org/out/09102989061-3.xlsx
org/out/09102989061-3.xml
org/out/09102989061-3c.csv
org/out/09751085061.csv
org/out/09751085061.json
org/out/09751085061.xml
org/test/opt01/ex_option.json
org/test/opt01/main.go
org/test/opt01/option.json
org/inp/case.ini
org/inp/case2.ini
org/inp/case3.ini
org/inp/case4.ini
org/inp/config.ini
org/inp/option.ini
org/inv/conf.go
org/inv/csv.go
org/inv/db.go
org/inv/invoices.go
org/inv/json.go
org/inv/MDetails.go
org/inv/MFilebunker.go
org/inv/MInvoice.go
org/inv/misc.go
org/inv/miscFile.go
org/inv/miscMath.go
org/inv/miscStr.go
org/inv/opts.go
org/inv/xlsx.go
org/inv/xml.go
org/all.json
org/cases.json
org/config.json
org/main.go
org/README.md
org/data/data.db
org/inp/8906c.ini
org/inp/8906j.ini
org/inp/8906s.ini
org/inp/8906x.ini
org/inp/09102989061-1.csv
org/inp/09102989061-1c.csv
org/inp/09102989061-2.csv
org/inp/09102989061-2c.csv
org/inp/09102989061-3.csv
org/inp/09102989061-3c.csv
org/inp/09751085061.csv
org/inp/c0910298906.ini

.vscode/launch.json
ansi-styles-master/.gitignore
ansi-styles-master/.editorconfig
ansi-styles-master/.gitattributes
ansi-styles-master/.npmrc
ansi-styles-master/.travis.yml
ansi-styles-master/index.js
ansi-styles-master/license
ansi-styles-master/package.json
ansi-styles-master/readme.md
ansi-styles-master/screenshot.png
ansi-styles-master/test.js
chalk-master/benchmark.js
chalk-master/.editorconfig
chalk-master/.gitattributes
chalk-master/.gitignore
chalk-master/.npmrc
chalk-master/.travis.yml
chalk-master/code-of-conduct.md
chalk-master/contributing.md
chalk-master/index.js
chalk-master/license
chalk-master/package.json
chalk-master/readme.md
chalk-master/templates.js
chalk-master/examples/rainbow.js
chalk-master/examples/screenshot.js
chalk-master/media/logo.png
chalk-master/media/logo.svg
chalk-master/test/_fixture.js
chalk-master/test/_supports-color.js
chalk-master/test/chalk.js
chalk-master/test/constructor.js
chalk-master/test/enabled.js
chalk-master/test/level.js
chalk-master/test/template-literal.js
chalk-master/test/windows.js
appinv/out/09102989061-5.xlsx
appinv/out/09102989061-1.xlsx
appinv/out/09102989061-4.xlsx
appinv/out/09102989061-3.xlsx
appinv/out/09102989061-2.xlsx
